@import url("https://fonts.googleapis.com/css?family=DM Sans");
@import url("https://fonts.googleapis.com/css?family=Varela Round");

body {
  padding: 0%;
  margin: 0%;
}
button {
  border-style: none;
}